html{
     scroll-behavior: smooth;
}
    *{
        margin: 0;
        padding: 0;
        font-family: 'Montserrat',sans-serif;
        position: sticky;
    }
.hero-section{
    background-image: url(https://t3.ftcdn.net/jpg/00/29/13/38/360_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg);
    height: 100vh;
    background-size: cover;
    background-blend-mode:overlay;
    background-color: rgba(253, 251, 254, 0.1);
    position: relative;
}
.hero-text{
    position: absolute;
    font-size:25px;
    color: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: solid;
}
.book-button{
    background-color: aqua;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 15px;
}
.about-Text{
    display: flex;

    
}
.about-Text>p{
    margin-left: 10px;
}


.left-text{
    width: 50%;
}
.Room-text{
    width: 100%;
    margin-top: 25px;
}
.Room-text h1{
    margin-top: 15px;
}
.room-type {
    display: flex;
    justify-content: space-evenly;
}
.room-type img{
    height: 300px;
    width: 450px;
    margin-top: 50px;
    
}

.booking>form{
    height: 400px;
    width: 350px;
    left:30%;
    border: 2px solid;
    border-radius: 24px;
    padding-left: 15px;
    padding-top: 20px;
    
}
.booking form input{
    width: 97%;
    height: 40px;
    border-radius: 12px;
    margin-bottom: 25px;
}
.booking form input:hover{
    background-color: grey;
} 
@media screen and (max-width: 500px) {
    .hero-text{
    max-width: fit-content;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .hero-text>h1,.about-heading{
        font-size: 1.5rem;
    }
    .about-heading{
        margin:0.5rem 0rem;
    }
    .left-text{
        width:100%;
    }
    .about-Text{
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
    }
    .about-us{
    width: 100%;
    }

    .right-text>b{
        margin-top: 15px;
        font-size:25px ;
        text-align: center;
    }
    .right-text>li{
        margin-left: -40px;
    }
    .hero-section{
        margin-bottom: 0px;
    }
    .room-type{
        display: block;
    }
    .Room-text>h1{
        text-align: center;
    }
    .room-type img{
        margin-left: 12px;
        margin-right: 12px;
    }
    .booking>form{
        left: 20%;
    }
}
@media  screen and (min-width:501px)and (max-width:750px) {
    .hero-text>h1{
        font-size: 30px;
    
    }
    p{
      font-size: 0.9rem;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .hero-text>h1,.about-heading{
        font-size: 1.5rem;
    }
    .about-heading{
        margin:0.5rem 0rem;
    }
    .left-text{
        width:100%;
    }
    .about-Text{
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
    }
    .about-us{
    width: 100%;
    }

    .right-text>b{
        margin-top: 15px;
        font-size:25px ;
        text-align: center;
    }
    .right-text>li{
        margin-left: -40px;
    }
    .hero-section{
        margin-bottom: 0px;
    }
    .room-type{
        display: block;
    }
    .Room-text>h1{
        text-align: center;
    }
    .room-type img{
        margin-left: 50px;
    }
    .booking>form{
        left: 23%;
    }
}
@media  screen and (min-width:750px)and (max-width:900px){
    .booking>form{
        left: 28%;
    }
}